[submodule "third_party/pcre2"]
	path = third_party/pcre2
	url = https://github.com/PCRE2Project/pcre2.git
[submodule "third_party/hunspell"]
	path = third_party/hunspell
	url = https://github.com/hunspell/hunspell.git
[submodule "third_party/lexilla"]
	path = third_party/lexilla
	url = https://github.com/ScintillaOrg/lexilla.git
[submodule "third_party/libwebp"]
	path = third_party/libwebp
	url = https://chromium.googlesource.com/webm/libwebp
[submodule "third_party/openjpeg"]
	path = third_party/openjpeg
	url = https://github.com/uclouvain/openjpeg.git
[submodule "third_party/libde265"]
	path = third_party/libde265
	url = https://github.com/strukturag/libde265.git
[submodule "third_party/aom"]
	path = third_party/aom
	url = https://aomedia.googlesource.com/aom
[submodule "third_party/libheif"]
	path = third_party/libheif
	url = https://github.com/strukturag/libheif.git
