runtime/main.js text eol=crlf
runtime/Scripts/**/*.js text eol=crlf
runtime/Scripts/**/*.html text eol=crlf
runtime/Scripts/**/*.htm text eol=crlf
runtime/Scripts/**/*.css text eol=crlf
runtime/HTML/**/*.js text eol=crlf
runtime/HTML/**/*.html text eol=crlf
runtime/HTML/**/*.htm text eol=crlf
runtime/HTML/**/*.css text eol=crlf
src/fbe/generated/Fb2SchemaMetadata.h text eol=lf
runtime/dict/*.aff -text
runtime/dict/*.dic -text
