// Resource script for ExportEPUBBatch console utility.
#pragma code_page(65001)

#include "resource.h"
#include "../version.h"

#define APSTUDIO_READONLY_SYMBOLS
#include "winres.h"
#undef APSTUDIO_READONLY_SYMBOLS

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_RUS)
LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT

IDI_BATCHICON ICON "res\\ExportEPUB.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION FBE_VERSION_NUMBER
 PRODUCTVERSION FBE_VERSION_NUMBER
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "sklart"
            VALUE "FileDescription", "FictionBook Editor EPUB batch export utility"
            VALUE "FileVersion", FBE_VERSION_STRING
            VALUE "InternalName", "ExportEPUBBatch"
            VALUE "LegalCopyright", "Copyright 2026 Artem Sklyarov aka sklart"
            VALUE "OriginalFilename", "ExportEPUBBatch.exe"
            VALUE "ProductName", "FictionBook Editor EPUB export plugin"
            VALUE "ProductVersion", FBE_VERSION_STRING
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

#endif
